/* HTML COMPONENTS */
body {
    font-family:'Raleway', sans-serif;
    color: $grey;
}


/* REUSABLE */
.bg-green {
    background-color: $green;
    color: $white;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.content-left {
    text-align: right;
    width: 50%;
}
.content-right {
    text-align: left;
    width: 50%;
}
.flex-container {
    display: flex;
}
.fullscreen {
    height: 100vh;
}